html, body {
  background-color: rgba(255, 255, 255, 0.915);
  /* height: 100%; Set body height to 100% */
  display: flex; /* Create a flex container for the body */
  align-items: center; /* Center content vertically within the body */
  justify-content: center; /* Center content horizontally within the body */
  /* margin: 0; Remove margin to avoid any extra space */
  width: 100%;
  font-family: 'Courier new';

}

.gig-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  width: 70%;
  background-color:  rgba(239, 239, 239, 0.819);
  width: 70%;
  min-height: 30vh; /* Use viewport height for minimum height */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center content horizontally */
  text-align: center;
  padding: 1rem;
  margin: 5rem; /* Add margin to create space between containers */
}

.gig-image {
  flex: 1; /* Allow the image to grow to fill the available space */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make sure the image takes full width of the container */
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.gig-image img {
  width: 400px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  max-width: 100%; /* Ensure the image fits within the container */
  max-height: 100%; /* Ensure the image fits within the container */
  object-fit: cover;
  filter: grayscale(100%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out; /* Add a smooth transition on hover */
}

.gig-image:hover {
  transform: scale(1.01); /* Scale the container on hover */
}

.gig-image:hover img {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}


h3{
  z-index: 2;
  /* display: flex; */
  transform: translate(-50%, -100%);
  font-family: 'Courier new';
  font-size: x-large;
  color: white;
  margin: 0;
  line-height: 1.2;
  background-color: rgb(0, 0, 0);

}

  .checkbox-wrapper-24 .checkbox {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }

  .checkbox-wrapper-24 label {
    display: inline-block;
    color: #333;
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper-24 label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #333;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  }
  .checkbox-wrapper-24 label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
  }
  .checkbox-wrapper-24 label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
  }

  .checkbox-wrapper-24 input[type=checkbox] {
    display: none;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
